/*  Reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
}

/* Header */

.banner-top{
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo-list{
    height: 60px;
    width: 50%;
    background-color: brown;
}

.logo-list-two{
    height: 60px;
    width: 50%;
    background-color: rgb(92, 184, 7);
    text-align: end;
}


.list-banner{
    padding-left: 5rem;
    padding-top: 1rem;
}

.list-banner-two{
    padding-left: 5rem;
    padding-top: 1rem;
    justify-content: end;
    padding-right: 5rem;
}

.inizia-button{
    margin-bottom: 2rem;
}

.element-list{
    color: white;
    padding-top: .5rem;
    padding-left: 1.50rem;
    list-style: none;
}

.img-header{
    height: 2rem;
    margin-top: 1rem;
}

/* -------------------------------- */


/* Main */

.container{
    height: 600px;
    width: 100%;
    background-color: chocolate;
}

.box{
    height: 400px;
    width: 60%;
    background-color: blue;
    margin-top: 90px;
}

.plane-business{
    height: 2000px;
    width: 100%;
    background-color: rgb(238, 4, 74);
}

.title{
    font-size: 3.5rem;
}

.card-plane{
    height: 1500px;
    width: 80%;
    background-color: blue;
    margin-top: 90px;

}

.first-card{
    height: 800px;
    width: 250px;
    background-color: darkorchid;
    border: 2px dotted yellow;
    margin-left: 3rem;
}

.title-card{
    width: 100%;
    height: 50px;
    background-color: black;
    border: 2px dotted yellow;
    color: azure;

}

.banner-under-card{
    height: 200px;
    width: 60%;
    background-color: darkorchid;
    border: 2px dotted yellow;
    margin-top: 10rem;
    margin-left: 20rem;
}

/* ------------------------------------------- */

.pic-text{
    height: 600px;
    width: 100%;
    background-color: forestgreen;
}

.box-pic-text{
    height: 500px;
    width: 70%;
    margin-top: 50px;
    background-color: blue;
}