/*  Reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
}

.card i{
    margin: .5rem;
}

/* Header */

header{
    position: fixed;
    background-color: white;
}

.banner-top{
    height: 80px;
    width: 100%;
}

.logo-list{
    height: 60px;
    width: 50%;
}

.logo-list-two{
    height: 60px;
    width: 50%;
    text-align: end;
}


.list-banner{
    padding-left: 5rem;
    padding-top: 1rem;
    color: black;
}

.list-banner-two{
    padding-left: 5rem;
    padding-top: 1rem;
    justify-content: end;
    padding-right: 5rem;
}

#start-button{
    background-color: #0061ff;
    padding: .5rem;
    color: white;
}

.element-list{
    color: rgb(0, 0, 0);
    padding-top: .5rem;
    margin-left: 1.50rem;
    list-style: none;
}

.img-header{
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

/* -------------------------------- */


/* Main */

.container{
    width: 100%;
    background-color: #b4d0e7;
}

.jumbo-img{
    height: 570px;
    padding-left: 14rem;

}

.box{
    width: 60%;
    margin-top: 90px;
}

.plane-business{
    width: 100%;
}

.title{
    font-size: 3.5rem;
}

.title-card{
    color: black;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid gray;
}

i{
    color: black;
}

b{
    color: black;
}

.title-plane{
    text-align: center;
    margin-bottom: 2rem;
}


#title-first-container{
    font-size: 51px;
}

#para-jumbo{
    font-size: 20px;
}

.blue-button{
    width: 240px;
    height: 52px;
    background-color: #0061ff;
    padding: 1rem;
    margin: 3rem;
}

.annulla{
    margin: 3rem;
}

.freccia{
    margin: 2rem;
    font-size: 2rem;
}

.card-plane{
    height: 1500px;
    width: 80%;
    margin-top: 90px;

}

#card-under{
    border: 1px solid #808080;
}

.button-card{
    margin: 2rem;
    border: none;
    padding: .3rem;
    background-color: #0061ff;
}

.p-card{
    margin: 2rem;

}

.point-plane{
    margin: 1rem;

}

.first-card{
    height: 895px;
    width: 260px;
    margin-left: 3rem;
    border: 1px solid gray;

}

.title-card{
    width: 100%;
    height: 50px;
    color: azure;
}

.banner-under-card{
    height: 200px;
    width: 60%;
    margin-top: 10rem;
    margin-left: 20rem;
}

/* ------------------------------------------- */

.pic-text{
    height: 600px;
    width: 100%;
}

.img-tx{
    height: 100%;
}

.box-pic-text{
    height: 500px;
    width: 70%;
    margin-top: 50px;
}

#testo-img h3{
    font-size: 40px;
}

#testo-img p{
    font-size: 20px;
}

#testo-img span{
    margin-top: 3rem;
    padding: 1rem;
    border:  1px solid gray;
}

#testo-img{
    padding: 10rem;
}

/* ------------------------------------------- */


.dropbox-business{
    height: 1500px;
    width: 100%;

}

.title-business{
    width: 100%;
    height: 100px;

}

.text-title-business{
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
}

.img-card{
    width: 100%;
    height: 200px;
}

.box-card{
    width: 60%;
    height: 1000px;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 400px;
    justify-content: space-around;
    
}

.card-business{
    width: 300px;
    padding: 1rem;
    
}

.card-business p{
    font-size: 20px;
    padding-top: 1rem;
}

.card-business h3{
    font-size: 25px;
    padding-top: 1rem;
}

/* ------------------------------------------- */



.team-use{
    width: 100%;
    height: 400px;

}

.team-text{
    width: 70%;
    height: 300px;
    margin-top: 3rem;
}

.team-text h1{
    font-size: 50px;
}

.team-text a{
    margin-top: 2rem;
    font-size: 20px;
}

/* ------------------------------------------- */


.boxe-cube{
    width: 100%;
    height: 700px;
}

.cube-container-first{
    height: 100%;
    width: 650px;
    flex-wrap: wrap;
}

.cube-container-text{
    width: 609px;
    background-color: #f5f5f5;
}

.cube-container-text p{
    margin: 1rem;
    font-size: 30px;
}

.cube-container-text h5{
    margin: 1rem;
    font-size: 1.3rem;
}

.cube{
    width: 320px;
    height: 349px;

}

.cube img{
    padding: 5rem;
    width: 300px;
    height: 300px;
    filter: invert(100%);
}

#bg-brown{
    background-color: #61082b;
}

#bg-yellow{
    background-color: #ffd830;
}

#bg-green{
    background-color: #a2d39b;
    border: solid 10px #d1e9cd;
}

#bg-cyan{
    background-color: #b4d0e7;
}

#bg-blue{
    background-color: #0d2481;
}

.bg-red{
background-color: #ff1c1c;

}

#bg-celest{
    background-color: #0093ce;
}
/* ------------------------------------------- */


.trial-free-container{
    width: 100%;
    height: 400px;
    background-color: #b4d0e7;
}

#text{
    width: 400px;
    height: 300px;
    margin-top: 3rem;
    margin-right: 5rem;
}

#text h1{
    font-size: 50px;
}

#button-trial{
    margin-top: 10rem;

}

#button-trial span{
    background-color: white;
    padding: 1rem;
    margin: 2rem;
}


/* ------------------------------------------- */



.faq-box{
    height: 500px;
    margin-top: 6rem;
}

.faq-box h1{
    padding: 2rem 2rem 2rem 0;
    
    font-size: 40px;
}

.faq-box h3{
    padding: 2rem 2rem 2rem 0;
    font-size: 20px;
}

.faq-box i{
    padding-left: 8rem;
}


/* ------------------------------------------- */


footer{
    height: 500px;
    width: 100%;
    background-color: black;
}

.footer-card{
    padding-top: 5rem;
}

.info-footer-card{
    height: 350px;
    width: 220px;
    margin-left: 2rem;
}

.info-footer-card h2{
    color: white;
    font-size: 30px;
    padding-bottom: 1rem;
}

.info-footer-card ul li{
    color: white;
    padding: .65rem;
    list-style: none;
}

